.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 7%;

  background: var(--surface);
  backdrop-filter: blur(15px);

  border-bottom: 1px solid var(--border);
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--accent);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;

  list-style: none;
}

.nav-links a {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 500;
  transition: .3s;
}

.nav-links a:hover {
  color: var(--accent);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.theme-toggle {
  width: 48px;
  height: 48px;

  border-radius: 50%;
  border: 1px solid var(--border);

  background: var(--bg-main);
  color: var(--text-primary);

  cursor: pointer;
  font-size: 20px;

  transition: .3s;
}

.theme-toggle:hover {
  transform: rotate(20deg);
}

.menu-btn {
  display: none;

  width: 48px;
  height: 48px;

  border: none;
  border-radius: 50%;

  background: var(--accent);
  color: white;

  cursor: pointer;
  font-size: 28px;
}

@media (max-width: 900px) {

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-links {
    position: absolute;

    top: 100%;
    left: 0;
    right: 0;

    display: none;
    flex-direction: column;

    gap: 25px;

    padding: 30px;

    background: var(--surface);

    border-bottom: 1px solid var(--border);

    box-shadow: 0 10px 30px rgba(0,0,0,.15);
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
  }

  .nav-links a {
    display: block;
    font-size: 1.1rem;
  }
}