@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&display=swap");

:root {
  /* Dark Theme */

  --bg-main: #0C1519;
  --surface: #162127;

  --border: #3A3534;
  --secondary: #724B39;
  --accent: #CF9D7B;

  --text-primary: #F1F5F9;
  --text-secondary: #94A3B8;

  --radius: 20px;

  --transition: all 0.3s ease;
}

[data-theme="light"] {

  /* Warm Butter Theme */

  --bg-main: #F8F2E7;

  --surface: #FFFDF8;

  --border: #D6C3AE;

  --secondary: #724B39;

  --accent: #A96E4D;

  --text-primary: #162127;

  --text-secondary: #5D6974;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-main);
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
.logo {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

p,
span,
button,
input,
textarea,
li,
a {
  font-family: "Poppins", sans-serif;
}

button {
  transition: var(--transition);
}

button:hover {
  opacity: 0.95;
}